@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Create New Experience";
}
<h2>Add a New Experience</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    <br/>
    @Html.LabelFor(model => model.Story)
    @Html.TextAreaFor(model => model.Story)
    <br/>
    @Html.LabelFor(model => model.Location)
    @Html.DropDownList("LocationId")
    <br />
    <input type="submit" value="Create" class="btn btn-info">
}

<p>@Html.ActionLink("Back to experiences", "Index")</p>
