@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<h3>@Html.DisplayFor(model => model.Location.City), @Html.DisplayFor(model => model.Location.Country)</h3>

<h4>@Html.DisplayFor(model => model.Story)</h4>
<h4>Who was there:</h4>

<ul>
@foreach(var person in Model.People)
{
    <li>@Html.DisplayFor(model => person.Name)</li>
}
</ul>

<p>@Html.ActionLink("Add a person to this story", "Create", "People", new{ experienceId = Model.ExperienceId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>

