@model TravelBlog.Models.Location

@{  
    ViewData["Title"] = "Location Details";
}

<h2>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.Country) Travel Experiences</h2>

<h5> @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId })
    | @Html.ActionLink("Delete", "Delete", new { id = Model.LocationId })</h5>


<div class="card-deck">
    @foreach(var exp in Model.Experiences)
    {
	    <div class="card">
		    <div class="card-header">
                <h4 class="card-title">@Html.ActionLink((string)exp.Title, "Details", "Experiences", new { id = exp.ExperienceId})</h4>
            </div>
		    <div class="card-block">
              <p class="card-text">@Html.DisplayFor(model => exp.Story)</p>
            </div>
		</div>        
    }
</div>

<p>@Html.ActionLink("Add an experience to " + (string)Model.City, "AddExperience", "Experiences", new { locationId = Model.LocationId})</p>
<p class="back">@Html.ActionLink("Back to Locations", "Index")</p>

